USE [master]
GO
/****** Object:  Database [QL_ChiTieu]    Script Date: 15/08/2026 05:50:56 ******/
CREATE DATABASE [QL_ChiTieu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_ChiTieu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QL_ChiTieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_ChiTieu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QL_ChiTieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_ChiTieu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_ChiTieu]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](200) NOT NULL,
	[Gmail] [nvarchar](100) NULL,
	[CauHoiBaoMat] [nvarchar](250) NULL,
	[DapAnBaoMat] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[Loai] [nvarchar](20) NOT NULL,
	[Icon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTieu]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DanhMuc] [nvarchar](150) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NoiDung] [nvarchar](250) NULL,
	[Ngay] [date] NULL,
	[AccountID] [int] NOT NULL,
	[WalletID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DamCuoi]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DamCuoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](75) NOT NULL,
	[TienMung] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
	[ThamGia] [bit] NULL,
	[DiaChi] [nvarchar](250) NULL,
	[AccountID] [int] NOT NULL,
	[DaTraLe] [bit] NULL,
	[NgayTraLe] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DauTu]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DauTu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[WalletID] [int] NOT NULL,
	[LoaiDauTu] [nvarchar](50) NOT NULL,
	[TenTaiSan] [nvarchar](150) NOT NULL,
	[SoLuong] [decimal](18, 4) NULL,
	[GiaVonBanDau] [decimal](18, 2) NOT NULL,
	[GiaTriHienTai] [decimal](18, 2) NOT NULL,
	[NgayDauTu] [date] NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuChotSo]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuChotSo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WalletID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[TienHeThong] [decimal](18, 2) NOT NULL,
	[TienThucTe] [decimal](18, 2) NOT NULL,
	[ChenhLech] [decimal](18, 2) NOT NULL,
	[NgayChot] [datetime] NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NganSach]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NganSach](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WalletID] [int] NOT NULL,
	[DanhMuc] [nvarchar](150) NOT NULL,
	[SoTienGioiHan] [decimal](18, 2) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuNhap]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Luong] [decimal](18, 2) NULL,
	[Thuong] [decimal](18, 2) NULL,
	[Khac] [decimal](18, 2) NULL,
	[Ngay] [date] NULL,
	[AccountID] [int] NOT NULL,
	[WalletID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tien]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TienHienCo] [decimal](18, 2) NOT NULL,
	[AccountID] [int] NOT NULL,
	[WalletID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VayNo]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VayNo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[WalletID] [int] NOT NULL,
	[LoaiVayNo] [nvarchar](50) NOT NULL,
	[DoiTac] [nvarchar](100) NOT NULL,
	[SoTienGoc] [decimal](18, 2) NOT NULL,
	[SoTienDaTra] [decimal](18, 2) NULL,
	[LaiSuatThang] [decimal](5, 2) NULL,
	[NgayVay] [date] NOT NULL,
	[HanTra] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenVi] [nvarchar](100) NOT NULL,
	[LoaiVi] [nvarchar](50) NOT NULL,
	[MaChiaSe] [varchar](20) NOT NULL,
	[TienBanDau] [decimal](18, 2) NOT NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaChiaSe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WalletMember]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WalletMember](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WalletID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
	[NgayThamGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (N'Tên thú cưng đầu tiên của bạn là gì?') FOR [CauHoiBaoMat]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('admin') FOR [DapAnBaoMat]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ('default') FOR [Icon]
GO
ALTER TABLE [dbo].[DamCuoi] ADD  DEFAULT ((0)) FOR [TienMung]
GO
ALTER TABLE [dbo].[DamCuoi] ADD  DEFAULT ((0)) FOR [DaTraLe]
GO
ALTER TABLE [dbo].[DauTu] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DauTu] ADD  DEFAULT (getdate()) FOR [NgayDauTu]
GO
ALTER TABLE [dbo].[LichSuChotSo] ADD  DEFAULT (getdate()) FOR [NgayChot]
GO
ALTER TABLE [dbo].[ThuNhap] ADD  DEFAULT ((0)) FOR [Luong]
GO
ALTER TABLE [dbo].[ThuNhap] ADD  DEFAULT ((0)) FOR [Thuong]
GO
ALTER TABLE [dbo].[ThuNhap] ADD  DEFAULT ((0)) FOR [Khac]
GO
ALTER TABLE [dbo].[Tien] ADD  DEFAULT ((0)) FOR [TienHienCo]
GO
ALTER TABLE [dbo].[VayNo] ADD  DEFAULT ((0)) FOR [SoTienDaTra]
GO
ALTER TABLE [dbo].[VayNo] ADD  DEFAULT ((0)) FOR [LaiSuatThang]
GO
ALTER TABLE [dbo].[VayNo] ADD  DEFAULT (getdate()) FOR [NgayVay]
GO
ALTER TABLE [dbo].[VayNo] ADD  DEFAULT (N'Đang Nợ') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Wallet] ADD  DEFAULT (N'Cá Nhân') FOR [LoaiVi]
GO
ALTER TABLE [dbo].[Wallet] ADD  DEFAULT ((0)) FOR [TienBanDau]
GO
ALTER TABLE [dbo].[Wallet] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[WalletMember] ADD  DEFAULT (N'Thành Viên') FOR [VaiTro]
GO
ALTER TABLE [dbo].[WalletMember] ADD  DEFAULT (getdate()) FOR [NgayThamGia]
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[DamCuoi]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[DauTu]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[DauTu]  WITH CHECK ADD FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallet] ([ID])
GO
ALTER TABLE [dbo].[LichSuChotSo]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[LichSuChotSo]  WITH CHECK ADD FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallet] ([ID])
GO
ALTER TABLE [dbo].[NganSach]  WITH CHECK ADD FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallet] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThuNhap]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Tien]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[VayNo]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[VayNo]  WITH CHECK ADD FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallet] ([ID])
GO
ALTER TABLE [dbo].[WalletMember]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WalletMember]  WITH CHECK ADD FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallet] ([ID])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[sp_Account_Check]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Account_Check]
    @TaiKhoan VARCHAR(50),
    @MatKhau VARCHAR(200)
AS
BEGIN
    SELECT ID, TaiKhoan
    FROM Account
    WHERE TaiKhoan = @TaiKhoan
      AND MatKhau = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @MatKhau), 2);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Account_DatLaiMatKhau]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Stored Procedure: Đặt lại mật khẩu (Quên mật khẩu)
CREATE   PROCEDURE [dbo].[sp_Account_DatLaiMatKhau]
    @TaiKhoan VARCHAR(50),
    @DapAnBaoMat VARCHAR(200),
    @MatKhauMoi VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Account 
        WHERE TaiKhoan = @TaiKhoan 
          AND (DapAnBaoMat IS NULL OR DapAnBaoMat = @DapAnBaoMat OR DapAnBaoMat = 'admin')
    )
    BEGIN
        UPDATE Account
        SET MatKhau = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @MatKhauMoi), 2)
        WHERE TaiKhoan = @TaiKhoan;

        SELECT 1 AS Result, N'Đổi mật khẩu thành công!' AS Message;
    END
    ELSE
    BEGIN
        SELECT 0 AS Result, N'Đáp án câu hỏi bảo mật không chính xác!' AS Message;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Account_GetCauHoiBaoMat]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Stored Procedure: Lấy câu hỏi bảo mật theo TaiKhoan
CREATE   PROCEDURE [dbo].[sp_Account_GetCauHoiBaoMat]
    @TaiKhoan VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        ID,
        TaiKhoan,
        ISNULL(CauHoiBaoMat, N'Tên thú cưng đầu tiên của bạn là gì?') AS CauHoiBaoMat
    FROM Account
    WHERE TaiKhoan = @TaiKhoan;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Account_SelectAll]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Account_SelectAll]
AS
BEGIN
    SELECT 
            ID,
            TaiKhoan as [Tài Khoản],
            Gmail
    FROM Account;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Account_Sua]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Account_Sua]
    @ID INT,
    @MatKhau VARCHAR(200)
AS
BEGIN
    UPDATE Account
    SET 
        MatKhau = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @MatKhau), 2)
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Account_Them]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Account_Them]
    @TaiKhoan VARCHAR(50),
    @MatKhau VARCHAR(200),
    @Gmail VARCHAR(100)  -- Thêm tham số Gmail
AS
BEGIN
    -- Thêm account với TaiKhoan, MatKhau, Gmail
    INSERT INTO Account (TaiKhoan, MatKhau, Gmail)
    VALUES (
        @TaiKhoan,
        CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @MatKhau), 2),
        @Gmail
    );

    DECLARE @NewAccountID INT = SCOPE_IDENTITY();

    -- Thêm bản ghi tiền liên quan account vừa tạo
    INSERT INTO Tien (TienHienCo, AccountID)
    VALUES (0, @NewAccountID);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoChuyenSau]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Báo cáo tài chính chuyên sâu cho 1 ví
CREATE   PROCEDURE [dbo].[sp_BaoCaoChuyenSau]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TienBanDau DECIMAL(18,2) = ISNULL((SELECT TienBanDau FROM Wallet WHERE ID = @WalletID), 0);
    DECLARE @TongThu DECIMAL(18,2) = ISNULL((SELECT SUM(Luong + Thuong + Khac) FROM ThuNhap WHERE WalletID = @WalletID), 0);
    DECLARE @TongChi DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID), 0);
    DECLARE @TienHienCo DECIMAL(18,2) = @TienBanDau + @TongThu - @TongChi;
    DECLARE @ThangNayChi DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID AND MONTH(Ngay) = MONTH(GETDATE()) AND YEAR(Ngay) = YEAR(GETDATE())), 0);
    DECLARE @ThangNayThu DECIMAL(18,2) = ISNULL((SELECT SUM(Luong + Thuong + Khac) FROM ThuNhap WHERE WalletID = @WalletID AND MONTH(Ngay) = MONTH(GETDATE()) AND YEAR(Ngay) = YEAR(GETDATE())), 0);

    SELECT 
        @TienBanDau AS TienBanDau,
        @TienHienCo AS TienHienCo,
        @TongThu AS TongThu,
        @TongChi AS TongChi,
        (@TongThu - @TongChi) AS ThangDu,
        @ThangNayThu AS ThangNayThu,
        @ThangNayChi AS ThangNayChi;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoChuyenSauV2]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- 1. Stored Procedure: sp_BaoCaoChuyenSauV2 há»— trá»£ lá»c theo ThĂ¡ng vĂ  NÄƒm
CREATE   PROCEDURE [dbo].[sp_BaoCaoChuyenSauV2]
    @WalletID INT,
    @Thang INT = NULL,
    @Nam INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TienBanDau DECIMAL(18,2) = ISNULL((SELECT TienBanDau FROM Wallet WHERE ID = @WalletID), 0);

    DECLARE @TongThu DECIMAL(18,2) = ISNULL((
        SELECT SUM(Luong + Thuong + Khac) 
        FROM ThuNhap 
        WHERE WalletID = @WalletID
          AND (@Nam IS NULL OR YEAR(Ngay) = @Nam)
          AND (@Thang IS NULL OR MONTH(Ngay) = @Thang)
    ), 0);

    DECLARE @TongChi DECIMAL(18,2) = ISNULL((
        SELECT SUM(SoTien) 
        FROM ChiTieu 
        WHERE WalletID = @WalletID
          AND (@Nam IS NULL OR YEAR(Ngay) = @Nam)
          AND (@Thang IS NULL OR MONTH(Ngay) = @Thang)
    ), 0);

    DECLARE @TienHienCo DECIMAL(18,2) = ISNULL((SELECT TOP 1 TienHienCo FROM Tien WHERE WalletID = @WalletID), @TienBanDau + @TongThu - @TongChi);

    SELECT 
        @TienBanDau AS TienBanDau,
        @TienHienCo AS TienHienCo,
        @TongThu AS TongThu,
        @TongChi AS TongChi,
        (@TongThu - @TongChi) AS ThangDu;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTongQuat]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BaoCaoTongQuat]
    @AccountID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @TongThu       DECIMAL(18,2) = 0,
        @ThuTB         DECIMAL(18,2) = 0,
        @ThuMax        DECIMAL(18,2) = 0,
        @ThuMin        DECIMAL(18,2) = 0,

        @TongChi       DECIMAL(18,2) = 0,
        @ChiTB         DECIMAL(18,2) = 0,
        @ChiMax        DECIMAL(18,2) = 0,
        @ChiMin        DECIMAL(18,2) = 0,

        @TienHienCo    DECIMAL(18,2) = 0;

    /* ================= THU ================= */
    SELECT 
        @TongThu = ISNULL(SUM(ISNULL(Luong,0) + ISNULL(Thuong,0) + ISNULL(Khac,0)), 0),
        @ThuTB   = ISNULL(AVG(ISNULL(Luong,0) + ISNULL(Thuong,0) + ISNULL(Khac,0)), 0),
        @ThuMax  = ISNULL(MAX(ISNULL(Luong,0) + ISNULL(Thuong,0) + ISNULL(Khac,0)), 0),
        @ThuMin  = ISNULL(MIN(ISNULL(Luong,0) + ISNULL(Thuong,0) + ISNULL(Khac,0)), 0)
    FROM ThuNhap
    WHERE AccountID = @AccountID;

    /* ================= CHI ================= */
    SELECT 
        @TongChi = ISNULL(SUM(SoTien), 0),
        @ChiTB   = ISNULL(AVG(SoTien), 0),
        @ChiMax  = ISNULL(MAX(SoTien), 0),
        @ChiMin  = ISNULL(MIN(SoTien), 0)
    FROM ChiTieu
    WHERE AccountID = @AccountID;

    /* ================= TIỀN HIỆN CÓ ================= */
    SELECT 
        @TienHienCo = ISNULL(TienHienCo, 0)
    FROM Tien
    WHERE AccountID = @AccountID;

    /* ================= TRẢ KẾT QUẢ ================= */
    SELECT
        @TongThu     AS TongThu,
        @ThuTB       AS ThuTrungBinh,
        @ThuMax      AS ThuNhieuNhat,
        @ThuMin      AS ThuItNhat,

        @TongChi     AS TongChi,
        @ChiTB       AS ChiTrungBinh,
        @ChiMax      AS ChiNhieuNhat,
        @ChiMin      AS ChiItNhat,

        @TienHienCo  AS TienHienCo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CanhBaoTieuTien]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CanhBaoTieuTien]
    @AccountID INT
AS
BEGIN
    DECLARE @TienHienCo DECIMAL(18,2) =
    (
        SELECT TienHienCo
        FROM Tien
        WHERE AccountID = @AccountID
    );

    -- Tổng chi từ đầu tháng đến hiện tại
    DECLARE @TongChi DECIMAL(18,2) =
    (
        SELECT ISNULL(SUM(SoTien), 0)
        FROM ChiTieu
        WHERE AccountID = @AccountID
          AND Ngay >= DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1)
          AND Ngay <= GETDATE()
    );

    -- Ngày hiện tại trong tháng
    DECLARE @SoNgay INT = DAY(GETDATE());

    -- Chi trung bình mỗi ngày
    DECLARE @TrungBinhNgay DECIMAL(18,2);

    IF @TongChi = 0 OR @SoNgay = 0
        SET @TrungBinhNgay = 0;
    ELSE
        SET @TrungBinhNgay = @TongChi / @SoNgay;

    -- Số ngày còn sống
    DECLARE @SoNgayCon DECIMAL(18,2);

    IF @TrungBinhNgay = 0
        SET @SoNgayCon = NULL; 
    ELSE
        SET @SoNgayCon = @TienHienCo / @TrungBinhNgay;

    -- Thông báo
    DECLARE @ThongBao NVARCHAR(200);

    IF @SoNgayCon IS NULL
        SET @ThongBao = N'Bạn chưa tiêu gì → không có nguy cơ hết tiền.';
    ELSE IF @SoNgayCon < 7
        SET @ThongBao = N'🔥 Nguy hiểm! Với mức chi hiện tại bạn sẽ hết tiền trong dưới 7 ngày.';
    ELSE IF @SoNgayCon < 15
        SET @ThongBao = N'⚠ Cảnh báo! Bạn chỉ còn tiền tiêu khoảng dưới 15 ngày nữa.';
    ELSE
        SET @ThongBao = N'✔ Mức tiêu hợp lý, chưa có nguy cơ hết tiền.';

    SELECT 
        @TienHienCo AS [Tiền Hiện Có],
        @TongChi AS [Tổng Chi],
        @TrungBinhNgay AS [Chi Trung Bình],
        @SoNgayCon AS [Số Ngày Hết Tiền],   
        @ThongBao AS [Cảnh Báo];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTieu_Delete]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ChiTieu_Delete]
    @ID INT
AS
BEGIN
    DELETE FROM ChiTieu WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTieu_Insert]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ChiTieu_Insert]
    @DanhMuc NVARCHAR(150),
    @SoTien DECIMAL(18,2),
    @NoiDung NVARCHAR(250),
    @Ngay DATE,
    @AccountID INT
AS
BEGIN
    INSERT INTO ChiTieu (DanhMuc, SoTien, NoiDung, Ngay, AccountID)
    VALUES (@DanhMuc, @SoTien, @NoiDung, @Ngay, @AccountID);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTieu_InsertV2]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Thêm Khoản Chi Tiêu theo WalletID
CREATE   PROCEDURE [dbo].[sp_ChiTieu_InsertV2]
    @DanhMuc NVARCHAR(150),
    @SoTien DECIMAL(18,2),
    @NoiDung NVARCHAR(250),
    @Ngay DATE,
    @AccountID INT,
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO ChiTieu (DanhMuc, SoTien, NoiDung, Ngay, AccountID, WalletID)
    VALUES (@DanhMuc, @SoTien, @NoiDung, @Ngay, @AccountID, @WalletID);

    UPDATE Tien 
    SET TienHienCo = TienHienCo - @SoTien 
    WHERE WalletID = @WalletID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTieu_SelectByAccount]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ChiTieu_SelectByAccount]
    @AccountID INT
AS
BEGIN
    SELECT * FROM ChiTieu WHERE AccountID = @AccountID ORDER BY Ngay DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTieu_SelectByWallet]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Xem Chi Tiêu theo WalletID
CREATE   PROCEDURE [dbo].[sp_ChiTieu_SelectByWallet]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        c.ID,
        c.DanhMuc AS [Danh Mục],
        c.SoTien AS [Số Tiền],
        c.NoiDung AS [Nội Dung],
        c.Ngay AS [Ngày],
        a.TaiKhoan AS [Người Chi]
    FROM ChiTieu c
    LEFT JOIN Account a ON c.AccountID = a.ID
    WHERE c.WalletID = @WalletID
    ORDER BY c.Ngay DESC, c.ID DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTieu_Update]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ChiTieu_Update]
    @ID INT,
    @DanhMuc NVARCHAR(150),
    @SoTien DECIMAL(18,2),
    @NoiDung NVARCHAR(250),
    @Ngay DATE
AS
BEGIN
    UPDATE ChiTieu
    SET DanhMuc = @DanhMuc,
        SoTien = @SoTien,
        NoiDung = @NoiDung,
        Ngay = @Ngay
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTieu_Xem]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ChiTieu_Xem]
    @AccountID INT
AS
BEGIN
    SELECT 
        ID,
        DanhMuc as [Danh Mục],
        SoTien as [Số Tiền],
        NoiDung as [Nội Dung],
        Ngay as [Ngày]
    FROM ChiTieu
    WHERE AccountID = @AccountID
    ORDER BY Ngay DESC, ID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ChotSo_GetHistory]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Stored Procedure: Lấy lịch sử chốt sổ
CREATE   PROCEDURE [dbo].[sp_ChotSo_GetHistory]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        l.ID,
        l.NgayChot AS [Ngày Chốt],
        l.TienHeThong AS [Số Dư Sổ Sách (VNĐ)],
        l.TienThucTe AS [Số Dư Thực Tế (VNĐ)],
        l.ChenhLech AS [Chênh Lệch (VNĐ)],
        CASE 
            WHEN l.ChenhLech = 0 THEN N'✅ Cân Bằng'
            WHEN l.ChenhLech > 0 THEN N'💡 Lệch Thừa'
            ELSE N'⚠️ Lệch Thiếu'
        END AS [Trạng Thái],
        a.TaiKhoan AS [Người Chốt],
        l.GhiChu AS [Ghi Chú]
    FROM LichSuChotSo l
    LEFT JOIN Account a ON l.AccountID = a.ID
    WHERE l.WalletID = @WalletID
    ORDER BY l.ID DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ChotSo_Perform]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Stored Procedure: Thực hiện chốt sổ và cân bằng ví tự động
CREATE   PROCEDURE [dbo].[sp_ChotSo_Perform]
    @WalletID INT,
    @AccountID INT,
    @TienThucTe DECIMAL(18,2),
    @GhiChu NVARCHAR(250) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Tính tiền hệ thống hiện tại
    DECLARE @TienBanDau DECIMAL(18,2) = ISNULL((SELECT TienBanDau FROM Wallet WHERE ID = @WalletID), 0);
    DECLARE @TongThu DECIMAL(18,2) = ISNULL((SELECT SUM(Luong + Thuong + Khac) FROM ThuNhap WHERE WalletID = @WalletID), 0);
    DECLARE @TongChi DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID), 0);
    DECLARE @TienHeThong DECIMAL(18,2) = @TienBanDau + @TongThu - @TongChi;

    -- Tính chênh lệch
    DECLARE @ChenhLech DECIMAL(18,2) = @TienThucTe - @TienHeThong;
    DECLARE @NgayHienTai DATE = GETDATE();

    -- Nếu có chênh lệch, tự động sinh giao dịch điều chỉnh để cân bằng ví 100%
    IF @ChenhLech < 0
    BEGIN
        -- Lệch thiếu -> Tự động sinh khoản chi điều chỉnh
        DECLARE @ChiThieu DECIMAL(18,2) = ABS(@ChenhLech);
        EXEC sp_ChiTieu_InsertV2 
            @DanhMuc = N'Khác (Chi)', 
            @SoTien = @ChiThieu, 
            @NoiDung = N'Điều chỉnh chênh lệch chốt sổ (Lệch thiếu)', 
            @Ngay = @NgayHienTai, 
            @AccountID = @AccountID, 
            @WalletID = @WalletID;
    END
    ELSE IF @ChenhLech > 0
    BEGIN
        -- Lệch thừa -> Tự động sinh khoản thu điều chỉnh
        EXEC sp_ThuNhap_InsertV2 
            @Luong = 0, 
            @Thuong = 0, 
            @Khac = @ChenhLech, 
            @Ngay = @NgayHienTai, 
            @AccountID = @AccountID, 
            @WalletID = @WalletID;
    END

    -- Ghi nhật ký vào LichSuChotSo
    INSERT INTO LichSuChotSo (WalletID, AccountID, TienHeThong, TienThucTe, ChenhLech, NgayChot, GhiChu)
    VALUES (@WalletID, @AccountID, @TienHeThong, @TienThucTe, @ChenhLech, GETDATE(), @GhiChu);

    -- Cập nhật số tiền hiện có của ví chính xác bằng Tiền Thực Tế
    UPDATE Tien SET TienHienCo = @TienThucTe WHERE WalletID = @WalletID;

    SELECT 
        @TienHeThong AS TienHeThong,
        @TienThucTe AS TienThucTe,
        @ChenhLech AS ChenhLech,
        CASE 
            WHEN @ChenhLech = 0 THEN N'✅ CÂN BẰNG: Số dư hệ thống khớp 100% với thực tế!'
            WHEN @ChenhLech < 0 THEN N'⚠️ LỆCH THIẾU: Đã tự động thêm khoản chi điều chỉnh để cân bằng sổ!'
            ELSE N'💡 LỆCH THỪA: Đã tự động thêm khoản thu điều chỉnh để cân bằng sổ!'
        END AS ThongBao;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DamCuoi_CapNhatTraLe]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Stored Procedure: Cập nhật Trạng thái Trả Lễ Hỷ Sự
CREATE   PROCEDURE [dbo].[sp_DamCuoi_CapNhatTraLe]
    @ID INT,
    @DaTraLe BIT,
    @NgayTraLe DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE DamCuoi
    SET 
        DaTraLe = @DaTraLe,
        NgayTraLe = CASE WHEN @DaTraLe = 1 THEN ISNULL(@NgayTraLe, GETDATE()) ELSE NULL END
    WHERE ID = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DauTu_GetByWallet]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. Stored Procedure: Lấy danh sách Đầu Tư & Tỷ Suất Sinh Lời ROI
CREATE   PROCEDURE [dbo].[sp_DauTu_GetByWallet]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        ID,
        LoaiDauTu AS [Loại Đầu Tư],
        TenTaiSan AS [Tên Tài Sản / Mã CP],
        SoLuong AS [Số Lượng],
        GiaVonBanDau AS [Vốn Ban Đầu (VNĐ)],
        GiaTriHienTai AS [Giá Trị Hiện Tại (VNĐ)],
        (GiaTriHienTai - GiaVonBanDau) AS [Lãi / Lỗ (VNĐ)],
        CAST(ROUND(CASE 
            WHEN GiaVonBanDau = 0 THEN 0
            ELSE ((GiaTriHienTai - GiaVonBanDau) / GiaVonBanDau) * 100
        END, 2) AS NVARCHAR(20)) + '%' AS [Tỷ Suất ROI (%)],
        NgayDauTu AS [Ngày Đầu Tư],
        GhiChu AS [Ghi Chú]
    FROM DauTu
    WHERE WalletID = @WalletID
    ORDER BY ID DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DauTu_Upsert]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Stored Procedure: Thêm / Cập nhật khoản Đầu Tư
CREATE   PROCEDURE [dbo].[sp_DauTu_Upsert]
    @AccountID INT,
    @WalletID INT,
    @LoaiDauTu NVARCHAR(50),
    @TenTaiSan NVARCHAR(150),
    @SoLuong DECIMAL(18,4),
    @GiaVonBanDau DECIMAL(18,2),
    @GiaTriHienTai DECIMAL(18,2),
    @NgayDauTu DATE,
    @GhiChu NVARCHAR(250) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO DauTu (AccountID, WalletID, LoaiDauTu, TenTaiSan, SoLuong, GiaVonBanDau, GiaTriHienTai, NgayDauTu, GhiChu)
    VALUES (@AccountID, @WalletID, @LoaiDauTu, @TenTaiSan, @SoLuong, @GiaVonBanDau, @GiaTriHienTai, @NgayDauTu, @GhiChu);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DuDoanChiTieu]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Dự đoán chi tiêu & số ngày sống sót theo Burn Rate
CREATE   PROCEDURE [dbo].[sp_DuDoanChiTieu]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TienHienCo DECIMAL(18,2);
    DECLARE @TienBanDau DECIMAL(18,2) = ISNULL((SELECT TienBanDau FROM Wallet WHERE ID = @WalletID), 0);
    DECLARE @TongThu DECIMAL(18,2) = ISNULL((SELECT SUM(Luong + Thuong + Khac) FROM ThuNhap WHERE WalletID = @WalletID), 0);
    DECLARE @TongChi DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID), 0);
    SET @TienHienCo = @TienBanDau + @TongThu - @TongChi;

    -- Tính số tiền chi trong 30 ngày gần nhất
    DECLARE @TongChi30Ngay DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID AND Ngay >= DATEADD(day, -30, GETDATE())), 0);
    DECLARE @BurnRateNgay DECIMAL(18,2) = @TongChi30Ngay / 30.0;

    DECLARE @SoNgayConLai INT = CASE WHEN @BurnRateNgay > 0 THEN CAST(@TienHienCo / @BurnRateNgay AS INT) ELSE 999 END;
    DECLARE @DuDoanCuoiThangChi DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID AND MONTH(Ngay) = MONTH(GETDATE()) AND YEAR(Ngay) = YEAR(GETDATE())), 0);
    DECLARE @NgayTrongThang INT = DAY(GETDATE());
    DECLARE @TongNgayThang INT = DAY(EOMONTH(GETDATE()));

    IF @NgayTrongThang > 0 AND @DuDoanCuoiThangChi > 0
    BEGIN
        SET @DuDoanCuoiThangChi = (@DuDoanCuoiThangChi / @NgayTrongThang) * @TongNgayThang;
    END

    SELECT 
        @TienHienCo AS TienHienCo,
        @BurnRateNgay AS ChiTrungBinhNgay,
        @SoNgayConLai AS SoNgayDuyTri,
        @DuDoanCuoiThangChi AS DuDoanChiCuoiThang;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_NganSach_GetByWallet]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Stored Procedure: Lấy danh sách Ngân sách & So sánh thực tế
CREATE   PROCEDURE [dbo].[sp_NganSach_GetByWallet]
    @WalletID INT,
    @Thang INT,
    @Nam INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.DanhMuc,
        ISNULL(n.SoTienGioiHan, 0) AS SoTienGioiHan,
        ISNULL(SUM(c.SoTien), 0) AS DaChi,
        CASE 
            WHEN ISNULL(n.SoTienGioiHan, 0) = 0 THEN 0
            ELSE (ISNULL(SUM(c.SoTien), 0) / n.SoTienGioiHan) * 100
        END AS TyLeChiPercent
    FROM ChiTieu c
    LEFT JOIN NganSach n ON c.WalletID = n.WalletID AND c.DanhMuc = n.DanhMuc AND n.Thang = @Thang AND n.Nam = @Nam
    WHERE c.WalletID = @WalletID AND MONTH(c.Ngay) = @Thang AND YEAR(c.Ngay) = @Nam
    GROUP BY c.DanhMuc, n.SoTienGioiHan;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_NganSach_KiemTraCanhBao]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Stored Procedure: Kiểm tra cảnh báo ngân sách tự động (Cảnh báo 80% và 100%)
CREATE   PROCEDURE [dbo].[sp_NganSach_KiemTraCanhBao]
    @WalletID INT,
    @DanhMuc NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Thang INT = MONTH(GETDATE());
    DECLARE @Nam INT = YEAR(GETDATE());

    DECLARE @SoTienGioiHan DECIMAL(18,2) = 0;
    DECLARE @DaChi DECIMAL(18,2) = 0;

    SELECT @SoTienGioiHan = ISNULL(SoTienGioiHan, 0)
    FROM NganSach
    WHERE WalletID = @WalletID AND DanhMuc = @DanhMuc AND Thang = @Thang AND Nam = @Nam;

    SELECT @DaChi = ISNULL(SUM(SoTien), 0)
    FROM ChiTieu
    WHERE WalletID = @WalletID AND DanhMuc = @DanhMuc AND MONTH(Ngay) = @Thang AND YEAR(Ngay) = @Nam;

    DECLARE @TyLe DECIMAL(18,2) = 0;
    IF @SoTienGioiHan > 0
    BEGIN
        SET @TyLe = (@DaChi / @SoTienGioiHan) * 100;
    END

    SELECT 
        @SoTienGioiHan AS SoTienGioiHan,
        @DaChi AS DaChi,
        @TyLe AS TyLe,
        CASE 
            WHEN @SoTienGioiHan > 0 AND @TyLe >= 100 THEN 2 -- Vượt ngân sách (Đỏ)
            WHEN @SoTienGioiHan > 0 AND @TyLe >= 80 THEN 1  -- Cảnh báo 80% (Vàng/Cam)
            ELSE 0                                          -- An toàn
        END AS LevelCanhBao,
        CASE 
            WHEN @SoTienGioiHan > 0 AND @TyLe >= 100 
                THEN N'🚨 CẢNH BÁO: Danh mục "' + @DanhMuc + N'" đã VƯỢT NGÂN SÁCH! Đã chi ' + FORMAT(@DaChi, 'N0') + N' / Hạn mức ' + FORMAT(@SoTienGioiHan, 'N0') + N' đ (' + CAST(CAST(@TyLe AS DECIMAL(10,1)) AS NVARCHAR(20)) + N'%).'
            WHEN @SoTienGioiHan > 0 AND @TyLe >= 80 
                THEN N'⚠️ CẢNH BÁO NGÂN SÁCH: Bạn đã chi ' + FORMAT(@DaChi, 'N0') + N' / Hạn mức ' + FORMAT(@SoTienGioiHan, 'N0') + N' đ (' + CAST(CAST(@TyLe AS DECIMAL(10,1)) AS NVARCHAR(20)) + N'%) cho danh mục "' + @DanhMuc + N'"!'
            ELSE N'OK'
        END AS ThongBao;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_NganSach_Upsert]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Stored Procedure: Thiết lập / Cập nhật Ngân sách chi tiêu
CREATE   PROCEDURE [dbo].[sp_NganSach_Upsert]
    @WalletID INT,
    @DanhMuc NVARCHAR(150),
    @SoTienGioiHan DECIMAL(18,2),
    @Thang INT,
    @Nam INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM NganSach WHERE WalletID = @WalletID AND DanhMuc = @DanhMuc AND Thang = @Thang AND Nam = @Nam)
    BEGIN
        UPDATE NganSach
        SET SoTienGioiHan = @SoTienGioiHan
        WHERE WalletID = @WalletID AND DanhMuc = @DanhMuc AND Thang = @Thang AND Nam = @Nam;
    END
    ELSE
    BEGIN
        INSERT INTO NganSach (WalletID, DanhMuc, SoTienGioiHan, Thang, Nam)
        VALUES (@WalletID, @DanhMuc, @SoTienGioiHan, @Thang, @Nam);
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_PhanTich_BurnRate]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SP: Biểu đồ 3 - Burn Rate & Số ngày sống sót
CREATE   PROCEDURE [dbo].[sp_PhanTich_BurnRate]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;

    EXEC sp_DuDoanChiTieu @WalletID = @WalletID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_PhanTich_DanhMucTyTrong]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. SP: Biểu đồ 1 - Tỷ trọng Chi tiêu Theo Danh Mục
CREATE   PROCEDURE [dbo].[sp_PhanTich_DanhMucTyTrong]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TongChi DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID), 0);

    SELECT 
        c.DanhMuc AS [Danh Mục],
        SUM(c.SoTien) AS [Tổng Chi (VNĐ)],
        COUNT(*) AS [Số Lần Chi],
        CAST(ROUND(CASE WHEN @TongChi = 0 THEN 0 ELSE (SUM(c.SoTien) / @TongChi) * 100 END, 1) AS NVARCHAR(20)) + '%' AS [Tỷ Trọng (%)],
        REPLICATE('█', CAST(ROUND(CASE WHEN @TongChi = 0 THEN 0 ELSE (SUM(c.SoTien) / @TongChi) * 20 END, 0) AS INT)) AS [Đồ Thị]
    FROM ChiTieu c
    WHERE c.WalletID = @WalletID
    GROUP BY c.DanhMuc
    ORDER BY [Tổng Chi (VNĐ)] DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_PhanTich_DanhMucTyTrongFilter]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- 2. Stored Procedure: sp_PhanTich_DanhMucTyTrongFilter há»— trá»£ lá»c biá»ƒu Ä‘á»“ theo ThĂ¡ng vĂ  NÄƒm
CREATE   PROCEDURE [dbo].[sp_PhanTich_DanhMucTyTrongFilter]
    @WalletID INT,
    @Thang INT = NULL,
    @Nam INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TongChi DECIMAL(18,2) = ISNULL((
        SELECT SUM(SoTien) 
        FROM ChiTieu 
        WHERE WalletID = @WalletID
          AND (@Nam IS NULL OR YEAR(Ngay) = @Nam)
          AND (@Thang IS NULL OR MONTH(Ngay) = @Thang)
    ), 0);

    SELECT 
        c.DanhMuc AS [Danh Má»¥c Chi TiĂªu],
        SUM(c.SoTien) AS [Tá»•ng Tiá»n Chi (VNÄ)],
        COUNT(*) AS [Sá»‘ Láº§n Chi],
        CAST(ROUND(CASE WHEN @TongChi = 0 THEN 0 ELSE (SUM(c.SoTien) * 100.0 / @TongChi) END, 1) AS NVARCHAR(20)) + '%' AS [Tá»· Trá»ng (%)],
        REPLICATE('â–ˆ', CAST(ROUND(CASE WHEN @TongChi = 0 THEN 0 ELSE (SUM(c.SoTien) * 20.0 / @TongChi) END, 0) AS INT)) AS [Biá»ƒu Äá»“ Trá»±c Quan]
    FROM ChiTieu c
    WHERE c.WalletID = @WalletID
      AND (@Nam IS NULL OR YEAR(Ngay) = @Nam)
      AND (@Thang IS NULL OR MONTH(Ngay) = @Thang)
    GROUP BY c.DanhMuc
    ORDER BY [Tá»•ng Tiá»n Chi (VNÄ)] DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_PhanTich_DauTuROI]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. SP: Biểu đồ 6 - Hiệu suất Đầu tư & ROI
CREATE   PROCEDURE [dbo].[sp_PhanTich_DauTuROI]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;

    EXEC sp_DauTu_GetByWallet @WalletID = @WalletID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_PhanTich_NganSachUtilization]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. SP: Biểu đồ 4 - Thực tế Chi tiêu vs Hạn mức Ngân sách
CREATE   PROCEDURE [dbo].[sp_PhanTich_NganSachUtilization]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Thang INT = MONTH(GETDATE());
    DECLARE @Nam INT = YEAR(GETDATE());

    EXEC sp_NganSach_GetByWallet @WalletID = @WalletID, @Thang = @Thang, @Nam = @Nam;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_PhanTich_QuyTac503020]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. SP: Biểu đồ 5 - Phân phối dòng tiền Quy tắc 50/30/20
CREATE   PROCEDURE [dbo].[sp_PhanTich_QuyTac503020]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TongThu DECIMAL(18,2) = ISNULL((SELECT SUM(Luong + Thuong + Khac) FROM ThuNhap WHERE WalletID = @WalletID), 0);
    DECLARE @TongChi DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID), 0);

    -- Nhu cầu thiết yếu (Ăn uống, Di chuyển, Hóa đơn, Y tế, Giáo dục)
    DECLARE @ThietYeu DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID AND DanhMuc IN (N'Ăn Uống', N'Di Chuyển', N'Hóa Đơn & Tiện Ích', N'Y Tế & Sức Khỏe', N'Giáo Dục')), 0);
    
    -- Sở thích cá nhân (Giải trí, Mua sắm, Khác)
    DECLARE @SoThich DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID AND DanhMuc IN (N'Giải Trí', N'Mua Sắm', N'Khác (Chi)')), 0);

    -- Tiết kiệm / Thặng dư tích lũy
    DECLARE @TietKiem DECIMAL(18,2) = CASE WHEN (@TongThu - @TongChi) > 0 THEN (@TongThu - @TongChi) ELSE 0 END;

    SELECT 
        N'Nhu Cầu Thiết Yếu (Target 50%)' AS [Hạng Mục Quy Tắc],
        @ThietYeu AS [Số Tiền (VNĐ)],
        CAST(ROUND(CASE WHEN @TongThu = 0 THEN 0 ELSE (@ThietYeu / @TongThu) * 100 END, 1) AS NVARCHAR(20)) + '%' AS [Tỷ Lệ Thực Tế (%)],
        N'50%' AS [Mục Tiêu Chuẩn],
        REPLICATE('█', CAST(ROUND(CASE WHEN @TongThu = 0 THEN 0 ELSE (@ThietYeu / @TongThu) * 20 END, 0) AS INT)) AS [Đồ Thị]

    UNION ALL

    SELECT 
        N'Sở Thích Cá Nhân (Target 30%)' AS [Hạng Mục Quy Tắc],
        @SoThich AS [Số Tiền (VNĐ)],
        CAST(ROUND(CASE WHEN @TongThu = 0 THEN 0 ELSE (@SoThich / @TongThu) * 100 END, 1) AS NVARCHAR(20)) + '%' AS [Tỷ Lệ Thực Tế (%)],
        N'30%' AS [Mục Tiêu Chuẩn],
        REPLICATE('█', CAST(ROUND(CASE WHEN @TongThu = 0 THEN 0 ELSE (@SoThich / @TongThu) * 20 END, 0) AS INT)) AS [Đồ Thị]

    UNION ALL

    SELECT 
        N'Tiết Kiệm & Đầu Tư (Target 20%)' AS [Hạng Mục Quy Tắc],
        @TietKiem AS [Số Tiền (VNĐ)],
        CAST(ROUND(CASE WHEN @TongThu = 0 THEN 0 ELSE (@TietKiem / @TongThu) * 100 END, 1) AS NVARCHAR(20)) + '%' AS [Tỷ Lệ Thực Tế (%)],
        N'20%' AS [Mục Tiêu Chuẩn],
        REPLICATE('█', CAST(ROUND(CASE WHEN @TongThu = 0 THEN 0 ELSE (@TietKiem / @TongThu) * 20 END, 0) AS INT)) AS [Đồ Thị];
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_PhanTich_ThuVsChiThang]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. SP: Biểu đồ 2 - So sánh Thu Nhập vs Chi Tiêu theo Tháng
CREATE   PROCEDURE [dbo].[sp_PhanTich_ThuVsChiThang]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        FORMAT(t.Ngay, 'MM/yyyy') AS [Tháng/Năm],
        ISNULL(SUM(t.Luong + t.Thuong + t.Khac), 0) AS [Tổng Thu (VNĐ)],
        ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID AND FORMAT(Ngay, 'MM/yyyy') = FORMAT(t.Ngay, 'MM/yyyy')), 0) AS [Tổng Chi (VNĐ)],
        (ISNULL(SUM(t.Luong + t.Thuong + t.Khac), 0) - ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID AND FORMAT(Ngay, 'MM/yyyy') = FORMAT(t.Ngay, 'MM/yyyy')), 0)) AS [Thặng Dư (VNĐ)]
    FROM ThuNhap t
    WHERE t.WalletID = @WalletID
    GROUP BY FORMAT(t.Ngay, 'MM/yyyy')
    ORDER BY MIN(t.Ngay) DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ThuNhap_Delete]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ThuNhap_Delete]
    @ID INT
AS
BEGIN
    DELETE FROM ThuNhap WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThuNhap_Insert]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThuNhap_Insert]
    @Luong DECIMAL(18,2),
    @Thuong DECIMAL(18,2),
    @Khac DECIMAL(18,2),
    @Ngay DATE,
    @AccountID INT
AS
BEGIN
    INSERT INTO ThuNhap (Luong, Thuong, Khac, Ngay, AccountID)
    VALUES (@Luong, @Thuong, @Khac, @Ngay, @AccountID);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThuNhap_InsertV2]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Thêm Khoản Thu Nhập theo WalletID
CREATE   PROCEDURE [dbo].[sp_ThuNhap_InsertV2]
    @Luong DECIMAL(18,2),
    @Thuong DECIMAL(18,2),
    @Khac DECIMAL(18,2),
    @Ngay DATE,
    @AccountID INT,
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO ThuNhap (Luong, Thuong, Khac, Ngay, AccountID, WalletID)
    VALUES (@Luong, @Thuong, @Khac, @Ngay, @AccountID, @WalletID);

    DECLARE @TongThu DECIMAL(18,2) = @Luong + @Thuong + @Khac;
    UPDATE Tien 
    SET TienHienCo = TienHienCo + @TongThu 
    WHERE WalletID = @WalletID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ThuNhap_Select]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[sp_ThuNhap_Select]
    @AccountID INT
AS
BEGIN
    SELECT 
            ID,
            Luong as [Lương],
            Thuong as [Thưởng],
            Khac as [Thu Nhập Khác],
            Ngay as [Ngày]
    FROM ThuNhap WHERE AccountID = @AccountID ORDER BY Ngay DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThuNhap_SelectByWallet]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Xem Thu Nhập theo WalletID
CREATE   PROCEDURE [dbo].[sp_ThuNhap_SelectByWallet]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        t.ID,
        t.Luong AS [Lương],
        t.Thuong AS [Thưởng],
        t.Khac AS [Thu Nhập Khác],
        (t.Luong + t.Thuong + t.Khac) AS [Tổng Thu],
        t.Ngay AS [Ngày],
        a.TaiKhoan AS [Người Nhập]
    FROM ThuNhap t
    LEFT JOIN Account a ON t.AccountID = a.ID
    WHERE t.WalletID = @WalletID
    ORDER BY t.Ngay DESC, t.ID DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ThuNhap_Update]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThuNhap_Update]
    @ID INT,
    @Luong DECIMAL(18,2),
    @Thuong DECIMAL(18,2),
    @Khac DECIMAL(18,2),
    @Ngay DATE
AS
BEGIN
    UPDATE ThuNhap
    SET Luong = @Luong,
        Thuong = @Thuong,
        Khac = @Khac,
        Ngay = @Ngay
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Tien_SetInitialBalance]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Cập nhật Tiền Ban Đầu cho Ví
CREATE   PROCEDURE [dbo].[sp_Tien_SetInitialBalance]
    @WalletID INT,
    @TienBanDau DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Wallet SET TienBanDau = @TienBanDau WHERE ID = @WalletID;
    
    -- Cập nhật lại Số Tiền Hiện Có = Tiền Ban Đầu + Tổng Thu - Tổng Chi
    DECLARE @TongThu DECIMAL(18,2) = ISNULL((SELECT SUM(Luong + Thuong + Khac) FROM ThuNhap WHERE WalletID = @WalletID), 0);
    DECLARE @TongChi DECIMAL(18,2) = ISNULL((SELECT SUM(SoTien) FROM ChiTieu WHERE WalletID = @WalletID), 0);
    DECLARE @TienMoi DECIMAL(18,2) = @TienBanDau + @TongThu - @TongChi;

    UPDATE Tien SET TienHienCo = @TienMoi WHERE WalletID = @WalletID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemTheoTen]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TimKiemTheoTen]
    @AccountID INT,             
    @TenCanTim NVARCHAR(75)      
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID,
        Ten AS [Tên],
        TienMung AS [Tiền Mừng],
        GhiChu AS [Ghi Chú],
        CASE 
            WHEN ThamGia = 1 THEN N'Có'
            ELSE N'Không'
        END AS [Tham Gia],
        DiaChi AS [Địa Chỉ]
    FROM DamCuoi
    WHERE AccountID = @AccountID 
      AND Ten LIKE N'%' + @TenCanTim + '%'; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VayNo_GetByWallet]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Stored Procedure: Lấy danh sách Vay Nợ theo Ví
CREATE   PROCEDURE [dbo].[sp_VayNo_GetByWallet]
    @WalletID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        ID,
        LoaiVayNo AS [Loại Vay / Mượn],
        DoiTac AS [Đối Tác / Ngân Hàng],
        SoTienGoc AS [Số Tiền Gốc (VNĐ)],
        SoTienDaTra AS [Đã Thanh Toán (VNĐ)],
        (SoTienGoc - SoTienDaTra) AS [Dư Nợ Còn Lại (VNĐ)],
        LaiSuatThang AS [Lãi Suất (%/Tháng)],
        NgayVay AS [Ngày Phát Sinh],
        HanTra AS [Hạn Thanh Toán],
        TrangThai AS [Trạng Thái],
        GhiChu AS [Ghi Chú]
    FROM VayNo
    WHERE WalletID = @WalletID
    ORDER BY ID DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_VayNo_ThanhToan]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Stored Procedure: Cập nhật Thanh toán Vay Nợ
CREATE   PROCEDURE [dbo].[sp_VayNo_ThanhToan]
    @ID INT,
    @SoTienThanhToan DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE VayNo
    SET 
        SoTienDaTra = SoTienDaTra + @SoTienThanhToan,
        TrangThai = CASE WHEN (SoTienDaTra + @SoTienThanhToan) >= SoTienGoc THEN N'Đã Thanh Toán' ELSE N'Đang Nợ' END
    WHERE ID = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_VayNo_Upsert]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Stored Procedure: Thêm / Cập nhật Vay Nợ
CREATE   PROCEDURE [dbo].[sp_VayNo_Upsert]
    @AccountID INT,
    @WalletID INT,
    @LoaiVayNo NVARCHAR(50),
    @DoiTac NVARCHAR(100),
    @SoTienGoc DECIMAL(18,2),
    @LaiSuatThang DECIMAL(5,2),
    @NgayVay DATE,
    @HanTra DATE = NULL,
    @GhiChu NVARCHAR(250) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO VayNo (AccountID, WalletID, LoaiVayNo, DoiTac, SoTienGoc, SoTienDaTra, LaiSuatThang, NgayVay, HanTra, TrangThai, GhiChu)
    VALUES (@AccountID, @WalletID, @LoaiVayNo, @DoiTac, @SoTienGoc, 0, @LaiSuatThang, @NgayVay, @HanTra, N'Đang Nợ', @GhiChu);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Wallet_Create]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===================================================
-- STORED PROCEDURES
-- ===================================================

-- Stored Procedure: Tạo Ví Mới (Cá Nhân / Gia Đình)
CREATE   PROCEDURE [dbo].[sp_Wallet_Create]
    @AccountID INT,
    @TenVi NVARCHAR(100),
    @LoaiVi NVARCHAR(50),
    @TienBanDau DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MaChiaSe VARCHAR(20) = UPPER(LEFT(NEWID(), 6));
    DECLARE @WalletID INT;

    INSERT INTO Wallet (TenVi, LoaiVi, MaChiaSe, TienBanDau)
    VALUES (@TenVi, @LoaiVi, @MaChiaSe, @TienBanDau);

    SET @WalletID = SCOPE_IDENTITY();

    INSERT INTO WalletMember (WalletID, AccountID, VaiTro)
    VALUES (@WalletID, @AccountID, N'Chủ Ví');

    INSERT INTO Tien (TienHienCo, AccountID, WalletID)
    VALUES (@TienBanDau, @AccountID, @WalletID);

    SELECT @WalletID AS WalletID, @MaChiaSe AS MaChiaSe;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Wallet_GetByUser]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Lấy danh sách ví của 1 người dùng
CREATE   PROCEDURE [dbo].[sp_Wallet_GetByUser]
    @AccountID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        w.ID AS WalletID,
        w.TenVi,
        w.LoaiVi,
        w.MaChiaSe,
        w.TienBanDau,
        wm.VaiTro,
        ISNULL((SELECT SUM(TienHienCo) FROM Tien WHERE WalletID = w.ID), w.TienBanDau) AS TienHienCo,
        (SELECT COUNT(*) FROM WalletMember WHERE WalletID = w.ID) AS SoThanhVien
    FROM Wallet w
    INNER JOIN WalletMember wm ON w.ID = wm.WalletID
    WHERE wm.AccountID = @AccountID
    ORDER BY w.ID ASC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Wallet_JoinByCode]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Thêm người dùng vào Ví dùng chung bằng Mã Chia Sẻ
CREATE   PROCEDURE [dbo].[sp_Wallet_JoinByCode]
    @AccountID INT,
    @MaChiaSe VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @WalletID INT = (SELECT TOP 1 ID FROM Wallet WHERE MaChiaSe = @MaChiaSe);

    IF @WalletID IS NULL
    BEGIN
        RAISERROR(N'Mã chia sẻ ví không hợp lệ!', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM WalletMember WHERE WalletID = @WalletID AND AccountID = @AccountID)
    BEGIN
        RAISERROR(N'Bạn đã là thành viên của ví này rồi!', 16, 1);
        RETURN;
    END

    INSERT INTO WalletMember (WalletID, AccountID, VaiTro)
    VALUES (@WalletID, @AccountID, N'Thành Viên');

    SELECT @WalletID AS WalletID, (SELECT TenVi FROM Wallet WHERE ID = @WalletID) AS TenVi;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_XemDSKhachMoi]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_XemDSKhachMoi]
    @AccountID INT  -- Thêm tham số để lọc theo Account
AS
BEGIN
    SELECT 
        ID,
        Ten AS [Tên],
        TienMung AS [Tiền Mừng],
        GhiChu AS [Ghi Chú],
        CASE 
            WHEN ThamGia = 1 THEN N'Có'
            ELSE N'Không'
        END AS [Tham Gia],
        DiaChi AS [Địa Chỉ]
    FROM DamCuoi
    WHERE AccountID = @AccountID;  -- Lọc theo ID tài khoản
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XemDSKhachMoiV2]    Script Date: 15/08/2026 05:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. Stored Procedure: Xem danh sách Hỷ sự có cột Trả lễ
CREATE   PROCEDURE [dbo].[sp_XemDSKhachMoiV2]
    @AccountID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        ID,
        Ten AS [Tên Khách],
        TienMung AS [Tiền Mừng],
        GhiChu AS [Ghi Chú],
        CASE WHEN ThamGia = 1 THEN N'Có' ELSE N'Không' END AS [Tham Gia],
        DiaChi AS [Địa Chỉ],
        CASE WHEN DaTraLe = 1 THEN N'Đã Trả Lễ' ELSE N'Chưa Trả Lễ' END AS [Trạng Thái Trả Lễ],
        NgayTraLe AS [Ngày Trả Lễ]
    FROM DamCuoi
    WHERE @AccountID IS NULL OR AccountID = @AccountID
    ORDER BY ID DESC;
END;

GO
USE [master]
GO
